@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="container">
        <div class="ui cards">
            @{int i = 2; }
            @foreach (string pdfName in ViewBag.ListPdf)
            {
                <div class="card">
                    <div class="content">
                        <div class="header">
                            @pdfName.Split(';')[0]
                        </div>
                        <div class="meta">
                            iText7
                        </div>
                        <div class="description">
                            @pdfName.Split(';')[1]
                        </div>
                    </div>
                    <div class="extra content">
                        @{ int[] range = {0,  5};}
                        <div class="ui two buttons">
                            @switch (Props.RandomNumber(range))
                            {
                                case 0:<input type="submit" value="Generar PDF: @pdfName.Split(';')[0]" name="pdfName" class="ui basic green button" />break;
                                case 1:<input type="submit" value="Generar PDF: @pdfName.Split(';')[0]" name="pdfName" class="ui basic red button" />break;
                                case 2:<input type="submit" value="Generar PDF: @pdfName.Split(';')[0]" name="pdfName" class="ui basic yellow button" />break;
                                case 3:<input type="submit" value="Generar PDF: @pdfName.Split(';')[0]" name="pdfName" class="ui basic blue button" />break;
                                default: <input type="submit" value="Generar PDF: @pdfName.Split(';')[0]" name="pdfName" class="ui basic purple button" />break;
                            }
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
}
